body {
    --chat-bubble: #f2f2f7;
    --chat-accent: #8edaf8;
}


/* https://www.freecodecamp.org/news/design-imessage-like-chat-bubble-react-native/ */

.chat {  
    word-wrap: break-word;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 25px;
    position: relative;
    display: grid;
}

.chat::before, .chat:after {
    content: "";
	position: absolute;
    bottom: 0;
    height: 25px;
}

.chat-them {
    background-color: var(--chat-bubble);
    align-self: flex-start;
}

.chat-them::before {
    left: -7px;
    width: 20px;
    background-color: var(--chat-bubble);
    border-bottom-right-radius: 16px;
}

.chat-them:after {
    left: -15px;
    width: 15px;
    background-color: var(--bs-light);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.chat-me {
	color: white; 
	background: var(--chat-accent);
	justify-self: end;
}

.chat-me::before {
    right: -7px;
    width: 20px;
    background-color: var(--chat-accent);
    border-bottom-left-radius: 16px 14px;
}

.chat-me::after {
    right: -15px;
    width: 15px;
    background-color: var(--bs-light);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    text-align: left;
    background-color: var(--chat-bubble);
    border-radius: 30px;
    padding: 30px;
    margin-left: -20%;
    margin-right: -20%;
}



svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
